.registrationBox {
  width: 40vw;
  margin: auto;
  padding: 5% 0% 0% 10%;
  height: 96vh;
}

.leftRegBox {
  width: 60vw;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url('../../assets/images/readingImage.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.positionRelative {
  position: relative;
}

.formControlLabel{
  font-size: 1.8rem;
  cursor: pointer;
  width: 24vw;
}

.formControl {
  font-size: 1.8rem;
  cursor: pointer;
  width: 29vw;
}

.flexBox {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.errorMsg {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #bd0617;
  background-color: #eccccf;
  box-shadow: 0 0 1px #721c24 inset;
  padding: 0.4rem;
  border-radius: 6px;
  margin-top: -3px;
}

.TnC {
  font-size: 1rem;
  margin-left: 5px;
  color: rgb(130, 34, 34);
  text-decoration: none !important;
}

.registrationBtn{
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.registrationFormBtn {
  width: 155px;
  padding: 8px;
  margin-left: 0.6vw;
  border-radius: 16px;
  border: transparent;
  background-image: linear-gradient(#858fdf, #bf086d);
  margin-top: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.loginBtn{
  display: flex;
  margin-left: 0.5vw;
  margin-top: 20px;
  background: transparent;
  border: none;
  text-decoration: none;
}

.loginFormBtn{
  width: 85px;
  padding: 8px;
  border: transparent;
  color: black;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
}