/* main section css starts here.............. */ 
.endNavSection{
  display: flex;
  background-color: #f1eeee;
  width: 100vw;
  padding: 10px;
  align-items: center;
  gap: 10px;
  margin-top: 13vh;
}

.endNavSection> span:nth-child(1){
  margin-left: 11vw;

}

 .titleSection{
  width: 100%;
  text-align: center;
  padding: 7vh 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
  margin: 5vh 0vh;
  padding: 0;
  color: #282828;
 }

 /* filter section */
 .filterSection{
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
    gap: 35px;
 }

 .productContainer{
  max-width: 77%;
  margin: auto;
 }

 .productSection{
  display:flex;
  width: 100%;
  justify-content: space-between;
 }

 .leftDropdownBox{
  width: 28%;
  border: 1px solid red;
  height: 600px;
 }

 .rightProductCardBox{
  width: 69%;
  border: 1px solid black;
  height: 600px;
 } 

 .currentSectionBtn{
  display: flex;
  width: fit-content;
  gap: 4px;
  padding: 9px 22px;
  background-color: #17C6AA;
  font-size: 0.8em;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
 }

 .currentSectionBtn:hover{
  background-color: #282828;
 }

 .currentSection{
  margin: 10px 11px 20px 0px;
 }

 .bg-grey{
  background-color: #EFEFEF !important;
  color: black;
 }

  .bg-grey:hover{
    background-color: #282828 !important;
    color: white;
  }

