/* main section css starts here.............. */ 
.endNavSection{
  display: flex;
  background-color: #f1eeee;
  width: 100vw;
  padding: 10px;
  align-items: center;
  gap: 10px;
  margin-top: 13vh;
}

.endNavSection> span:nth-child(1){
  margin-left: 11vw;

}

 .titleSection{
  width: 100%;
  text-align: center;
  padding: 7vh 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
  margin: 5vh 0vh;
  padding: 0;
  color: #282828;
 }

 /* filter section */
 .filterSection{
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
    gap: 35px;
 }

 .productContainer{
  max-width: 77%;
  margin: auto;
 }

 .productSection{
  display:flex;
  width: 100%;
  justify-content: space-between;
 }

 .leftDropdownBox{
  width: 28%;
  height: fit-content;
  position: sticky;
  top: 0;
 }

 .rightProductCardBox{
  width: 69%;
  display: grid;
 grid-template-columns: auto auto auto;
 gap: 10px;
 justify-content: center;
 align-items: center;
  height: fit-content;
 } 

 .currentSectionBtn{
  display: flex;
  width: fit-content;
  gap: 4px;
  padding: 9px 22px;
  background-color: #17C6AA;
  font-size: 0.8em;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
 }

 .currentSectionBtn:hover{
  background-color: #282828;
 }

 .currentSection{
  margin: 10px 11px 20px 0px;
 }

 .bg-grey{
  background-color: #EFEFEF !important;
  color: black;
 }

  .bg-grey:hover{
    background-color: #282828 !important;
    color: white;
  }

  /* dropdown css */
  .underDropDownBox{
    padding-left: 10px;
  }
  .inputBox{
    padding: 5px;
  }
  .checkboxText{
    margin-left: 5px;
  }

  .gridBox{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5px;
  }

  .addImage{
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    margin: 20px 0px;
  }

  .addImage img{
    width: 100%;
    display: block;
    transition: transform 1s;
  }
  .addImage img:hover{
    transform: scale(1.1);
  }

  
 
