.leftProductBox{
  width: 60vw;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url('../../assets/images/lightBackground.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.productFormBox{
  width: 38vw;
  margin: auto;
  padding: 5% 0% 0% 10%;
  height: 96vh;
  overflow-y:auto;
}

.spaceBtw{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

#keyFeatures{
  width: 23vw;
}


.keyFeatureBtn{
  margin-right: 9vw;
}

.productImageCard{
  width: 73px;
  height: 49px;
  display: inline-table;
  margin-right: 8px;

}
.productImageCard .close {
  
  position: absolute;
  /* top: 2px;
  right: 2px; */
  /* position: absolute; */
  position: relative;
  /* position: absolute; */
  z-index: 100;
  background-color: #cdb8b8;
  padding: 0px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: 1.2;
  top: -6.5vh;
  left: 3.5vw;
  text-align: center;
  font-size: 24px;
  line-height: 17px;
  border-radius: 50%;
}