.leftProductBox{
  width: 60vw;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url('../../assets/images/lightBackground.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.productFormBox{
  width: 38vw;
  margin: auto;
  padding: 5% 0% 0% 10%;
  height: 96vh;
}

.spaceBtw{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

#keyFeatures{
  width: 23vw;
}


.keyFeatureBtn{
  margin-right: 9vw;
}
